/* header */
.nav-bar {
    display: flex ;
    justify-content: space-between;
    padding: 1rem 2rem;
    background:  #333;
}

.nav-bar ul {
    list-style: none;
    display:  flex;
}

.nav-bar ul li {
    padding-left: 1rem;
}

.nav-bar a {
    text-decoration: none;
    color: #e5e8ec;
    font-size: 20px;
}
.nav-bar p img {
    width: 50px;
    height: auto;
}


/* footer.css */

/* Style for the footer container */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

/* Style for the contact info section */
.contact-info {
    flex: 1;
}

.contact-info h3 {
    margin-bottom: 10px;
}

.contact-info p {
    margin-bottom: 5px;
}

/* Style for the social icons section */
.social-icons {
    display: flex;
    align-items: center;
}

.social-icons h3 {
    margin-right: 20px;
}

/* Style for individual icons */
.icon {
    margin-left: 10px;
    font-size: 24px;
}

/* Style for individual icon links */
.icon a {
    color: #fff;
    text-decoration: none;
}

/* Style for icon hover effect */
.icon a:hover {
    opacity: 0.7;
}



/* Login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}



.login-form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.login-button:hover {
    background-color: #0056b3;
}

.signup-message {
    margin-top: 15px;
    color: #333;
}

.signup-button {
    background: none;
    border: none;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1rem;
}

.signup-button:hover {
    text-decoration: none;
    color: #0056b3;
}

/* Signup.css */

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}


.signup-form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center
}