/* Footer.css */

.footer {
  background: linear-gradient(to top, #4facfe, #00f2fe); /* Updated gradient background */
  color: white;
  padding: 3rem 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-contact-info, .footer-social-media {
  width: 45%;
}

.footer-contact-info h3, .footer-social-media h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-contact-info .footer-flex, .footer-social-media .footer-flex {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.footer-contact-info .footer-flex p, .footer-social-media .footer-flex a {
  margin-left: 0.5rem;
  color: #fff; /* Updated text color */
}

.footer-social-media .footer-flex a {
  font-size: 2rem;
  color: #fff; /* Updated text color */
  margin-right: 1rem;
  transition: color 0.3s;
}

.footer-social-media .footer-flex a:hover {
  color: white;
}
